/*
 * TOTEM ZMK CONFIGURATION - C# / UNITY / VS CODE EDITION
 * * COMBOS (Appuyer simultanément) :
 * -------------------------------------------------------
 * Q + W         = ESCAPE
 * J + K         = ENTREE
 * H + J         = BACKSPACE
 * Z + /         = CAPS WORD (Majuscule intelligente pour les constantes)
 * M + ,         = <  (Pour XML/Generics)
 * , + .         = >  (Pour XML/Generics)
 * . + /         = Commenter ligne (Ctrl + /)
 * */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// --- DÉFINITIONS DES COUCHES ---

#define BASE 0
#define SYM  1
#define NAV  2
#define SYS  3
#define GAME 4

// --- CONFIGURATION DES BEHAVIORS ---
// Mod-Tap : Appui court = Touche, Appui long = Modifieur

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

// Caps Word : S'arrête tout seul après un espace ou un symbole non autorisé

&caps_word { continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>; };

/ {
    behaviors {
        // HOME ROW MODS :
        // Maintenir la touche active le modifieur (Shift, Ctrl, Alt, Gui)
        // F = Shift, D = Ctrl, S = Alt, A = Win

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // --- UTILITAIRES ---

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;      // Q + W
            bindings = <&kp ESC>;
        };

        combo_enter {
            timeout-ms = <50>;
            key-positions = <16 17>;    // J + K
            bindings = <&kp RET>;
        };

        combo_bspc {
            timeout-ms = <50>;
            key-positions = <15 16>;   // H + J
            bindings = <&kp BSPC>;
        };

        combo_capsword {
            timeout-ms = <50>;
            key-positions = <20 29>;    // Z + / (Extrémités bas)
            bindings = <&caps_word>;
        };

        // --- C# GENERICS & XML (< >) ---

        combo_lt {
            timeout-ms = <40>;
            key-positions = <27 28>;    // M + ,
            bindings = <&kp LT>;
        };

        combo_gt {
            timeout-ms = <40>;
            key-positions = <28 29>;    // , + .
            bindings = <&kp GT>;
        };

        // --- VS CODE ---

        combo_comment {
            timeout-ms = <50>;
            key-positions = <29 30>;   // . + /
            bindings = <&kp LC(FSLH)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* ------------------------------------------------------------------------------------------------
 * LAYER 0: BASE (QWERTY US)
 * * Q     W     E     R     T     |     Y     U     I     O     P
 * A     S     D     F     G     |     H     J     K     L     ;
 * Z     X     C     V     B     |     N     M     ,     .     /     '
 * CPY   PST   SPC(Nav)     |   RET(Sym)   BSP(Nav)   DEL
 * * Notes: 
 * - Home Row Mods sur A,S,D,F et J,K,L,;
 * - Tab maintenu à gauche = Layer SYS
 * ------------------------------------------------------------------------------------------------ */

        base_layer {
            display-name = "Base";
            bindings = <
&kp Q       &kp W       &kp E        &kp R        &kp T                   &kp Y      &kp U        &kp I        &kp O       &kp P
&hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHFT F  &kp G                   &kp H      &hm RSHFT J  &hm RCTRL K  &hm RALT L  &hm RGUI SEMI
&lt 3 TAB   &kp Z       &kp X        &kp C        &kp V      &kp B        &kp N      &kp M        &kp COMMA    &kp DOT     &kp FSLH       &lt 5 SQT
                                     &lt 3 LC(C)  &lt 2 TAB  &lt 1 SPACE  &lt 1 RET  &lt 2 BSPC   &lt 3 DEL
            >;
        };

        /* ------------------------------------------------------------------------------------------------
 * LAYER 1: SYMBOLES C# & CODE
 * * 1     2     3     4     5     |     -     <     >     "     +
 * 6     7     8     9     0     |     _     (     )     '     =
 * !     @     #     $     |     %     ^     {     }     [     ]
 * ...   ...   ...    |    ...   ...   ...
 * * Notes: 
 * - Optimisé pour C# : ( ) { } [ ] accessibles sans bouger le poignet droit.
 * ------------------------------------------------------------------------------------------------ */

        sym_layer {
            display-name = "Code";
            bindings = <
&kp EXCLAMATION  &kp AT     &kp POUND  &kp DLLR   &kp PERCENT            &kp LT     &kp GT     &kp LBKT  &kp RBKT   &kp DQT
&kp CARET        &kp AMPS   &kp STAR   &kp PIPE   &kp UNDER              &kp LPAR   &kp RPAR   &kp LBRC  &kp RBRC   &kp SQT
&trans           &kp ASTRK  &kp PLUS   &kp MINUS  &kp EQUAL    &kp BSLH  &kp QMARK  &kp COLON  &kp SEMI  &kp GRAVE  &kp TILDE  &trans
                                       &trans     &trans       &trans    &trans     &trans     &trans
            >;
        };

        /* ------------------------------------------------------------------------------------------------
 * LAYER 2: NAVIGATION & DEBUG
 * * F1    F2    F3    F4    F5    |    Home  PgDn  PgUp  End   PrtSc
 * F6    F7    F8    F9    F10   |    Left  Down  Up    Right Ins
 * F11   F12               |    Game              ...
 * ...   ...   ...    |    ...   ...   ...
 * * Notes: 
 * - Navigation style VIM (HJKL) sur la main droite.
 * - Accès au Layer GAME via le pouce droit.
 * ------------------------------------------------------------------------------------------------ */

        num_layer {
            display-name = "Num";
            bindings = <
&trans  &kp N7  &kp N8  &kp N9  &kp KP_MULTIPLY                &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp PSCRN
&trans  &kp N4  &kp N5  &kp N6  &kp KP_PLUS                    &trans    &kp LEFT   &kp UP     &kp RIGHT  &kp INS
&trans  &trans  &kp N1  &kp N2  &kp N3           &kp KP_MINUS  &trans    &trans     &kp DOWN   &trans     &trans     &trans
                        &kp N0  &trans           &trans        &trans    &trans     &trans
            >;
        };

        /* ------------------------------------------------------------------------------------------------
 * LAYER 3: SYSTEM & BLUETOOTH
 * * RST          OutTog BTClr      |                F7    F8    F9    F12
 * Boot  BtNxt         BtSel1     |    Slck        F4    F5    F6    F11
 * BtPrv         BtSel2     |    Pause       F1    F2    F3    F10
 * ...   ...   ...    |    ...   ...   ...
 * ------------------------------------------------------------------------------------------------ */

        sys_layer {
            display-name = "Sys";
            bindings = <
&trans  &kp F1  &kp F2  &kp F3   &kp F4            &kp F2        &kp LS(F12)         &kp LC(F12)          &kp LC(DOT)  &kp LC(LS(R))
&trans  &kp F5  &kp F6  &kp F7   &kp F8            &kp F12       &kp LEFT_SHIFT      &kp LCTRL            &kp LALT     &kp LGUI
&trans  &trans  &kp F9  &kp F10  &kp F11  &kp F12  &kp LC(FSLH)  &kp LA(LEFT_ARROW)  &kp LA(RIGHT_ARROW)  &trans       &trans         &trans
                        &trans   &trans   &trans   &trans        &trans              &trans
            >;
        };

        /* ------------------------------------------------------------------------------------------------
 * LAYER 4: GAME (UNITY / FPS)
 * * Q     W     E     R     T     |     Y     U     I     O     P
 * A     S     D     F     G     |     H     J     K     L     ;
 * Z     X     C     V     B     |     N     M     ,     .     /
 * Ctrl  Space Shift        |    ...   ...   ...
 * * Notes: 
 * - Pas de Home Row Mods (pour ne pas interférer avec ZQSD/WASD).
 * - "To Base" sur le petit doigt gauche pour sortir du mode jeu.
 * ------------------------------------------------------------------------------------------------ */

        game_layer {
            display-name = "Game";
            bindings = <
&kp Q  &kp W  &kp E  &kp R      &kp T                 &kp Y   &kp U   &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F      &kp G                 &kp H   &kp J   &kp K      &kp L    &kp SEMI
&to 0  &kp Z  &kp X  &kp C      &kp V      &kp B      &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                     &kp LCTRL  &kp SPACE  &kp LSHFT  &trans  &trans  &trans
            >;
        };

        ble_layer {
            bindings = <
&trans  &trans  &trans  &trans       &bt BT_SEL 0                  &bt BT_NXT      &trans      &trans       &trans  &trans
&trans  &trans  &trans  &trans       &bt BT_SEL 1                  &bt BT_PRV      &trans      &trans       &trans  &trans
&trans  &trans  &trans  &trans       &trans        &bt BT_SEL 2    &bt BT_CLR      &trans      &trans       &trans  &trans  &trans
                        &bootloader  &sys_reset    &studio_unlock  &studio_unlock  &sys_reset  &bootloader
            >;
        };
    };
};
