/*
 * TOTEM ZMK CONFIGURATION - C# / UNITY / VS CODE EDITION
 *
 * COMBOS (Press simultaneously):
 * -------------------------------------------------------
 * A + Z         = ESCAPE
 * J + K         = ENTER
 * H + J         = BACKSPACE
 * W + !         = CAPS WORD (Smart capitalization for constants)
 * , + ;         = <  (For XML/Generics)
 * ; + :         = >  (For XML/Generics)
 * : + !         = Comment line (Ctrl + /)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#ifndef KEYMAP_DRAWER
// Include the French locale definitions only for firmware build
#include "keys_fr.h"
#endif

// --- LAYER DEFINITIONS ---

#define BASE 0
#define MAC  1
#define SYM  2
#define NAV  3
#define SYS_WIN 4
#define SYS_MAC 5
#define GAME 6
#define BLE  7

// --- BEHAVIORS CONFIGURATION ---
// Mod-Tap: Short press = Key, Long press = Modifier

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

// Caps Word: Automatically stops after a space or unauthorized symbol

&caps_word { continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>; };

/ {
    behaviors {
        // HOME ROW MODS:
        // Holding the key activates the modifier (Shift, Ctrl, Alt, Gui)
        // F = Shift, D = Ctrl, S = Alt, Q = Win

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            require-prior-idle-ms = <125>;
        };
    };

    macros {
        // C# Lambda (=>) - Windows
        m_lambda_win: m_lambda_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FR_EQUAL &kp FR_GT>;
        };
        // C# Lambda (=>) - Mac workaround for inverted characters
        m_lambda_mac: m_lambda_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FR_EQUAL &kp LS(FR_SUPER2)>; 
        };
        
        // Unity Serialized Field ([SerializeField] private ) - Unified
        m_ser: m_ser {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FR_LBKT &kp LS(FR_S) &kp FR_E &kp FR_R &kp FR_I &kp FR_A &kp FR_L &kp FR_I &kp FR_Z &kp FR_E &kp LS(FR_F) &kp FR_I &kp FR_E &kp FR_L &kp FR_D &kp FR_RBKT &kp SPACE &kp FR_P &kp FR_R &kp FR_I &kp FR_V &kp FR_A &kp FR_T &kp FR_E &kp SPACE>;
        };

        // Unity Debug Log (Debug.Log("");) + Cursor placement
        m_log: m_log {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(FR_D) &kp FR_E &kp FR_B &kp FR_U &kp FR_G &kp FR_DOT &kp LS(FR_L) &kp FR_O &kp FR_G &kp FR_LPAR &kp FR_DQT &kp FR_DQT &kp FR_RPAR &kp FR_SEMI &kp LEFT &kp LEFT &kp LEFT>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // --- UTILITIES ---

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;      // A + Z
            bindings = <&kp ESC>;
        };

        combo_enter {
            timeout-ms = <50>;
            key-positions = <16 17>;    // J + K
            bindings = <&kp RET>;
        };

        combo_bspc {
            timeout-ms = <50>;
            key-positions = <15 16>;   // H + J
            bindings = <&kp BSPC>;
        };

        combo_capsword {
            timeout-ms = <50>;
            key-positions = <20 29>;    // W + ! 
            bindings = <&caps_word>;
        };

        // --- C# GENERICS & XML (< >) FOR WINDOWS ---

        combo_lt_win {
            timeout-ms = <40>;
            key-positions = <27 28>;    // , + ;
            bindings = <&kp FR_LT>;
            layers = <BASE SYS_WIN>;
        };

        combo_gt_win {
            timeout-ms = <40>;
            key-positions = <28 29>;    // ; + :
            bindings = <&kp FR_GT>;
            layers = <BASE SYS_WIN>;
        };

        // --- C# GENERICS & XML (< >) FOR MAC WORKAROUND ---

        combo_lt_mac {
            timeout-ms = <40>;
            key-positions = <27 28>;    // , + ;
            bindings = <&kp FR_SUPER2>; // Sends ², macOS translates to <
            layers = <MAC SYS_MAC>;
        };

        combo_gt_mac {
            timeout-ms = <40>;
            key-positions = <28 29>;    // ; + :
            bindings = <&kp LS(FR_SUPER2)>; // Sends Shift+², macOS translates to >
            layers = <MAC SYS_MAC>;
        };

        // --- VS CODE ---

        combo_comment {
            timeout-ms = <50>;
            key-positions = <29 30>;   // : + !
            bindings = <&kp LC(FR_SLASH)>;
            layers = <BASE SYS_WIN>;
        };

        combo_comment_mac {
            timeout-ms = <50>;
            key-positions = <29 30>;   // : + !
            bindings = <&kp LG(FR_SLASH)>;
            layers = <MAC SYS_MAC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

/* ------------------------------------------------------------------------------------------------
 * LAYER 0: BASE (AZERTY FR)
 *
 * A     Z     E     R     T     |     Y     U     I     O     P
 * Q     S     D     F     G     |     H     J     K     L     M
 * W     X     C     V     B     |     N     ,     ;     :     !
 *
 * CPY   PST   SPC(Nav)          |     RET(Sym)  BSP(Nav)  DEL
 *
 * Notes: 
 * - Home Row Mods on Q,S,D,F and J,K,L,M
 * - Holding Tab on the left = SYS Layer
 * ------------------------------------------------------------------------------------------------ */

        base_layer {
            display-name = "Base";
            bindings = <
&kp FR_A        &kp FR_Z        &kp FR_E        &kp FR_R        &kp FR_T                                           &kp FR_Y       &kp FR_U        &kp FR_I        &kp FR_O        &kp FR_P
&hm LGUI FR_Q   &hm LALT FR_S   &hm LCTRL FR_D  &hm LSHFT FR_F  &kp FR_G                                           &kp FR_H       &hm RSHFT FR_J  &hm RCTRL FR_K  &hm RALT FR_L   &hm RGUI FR_M
&lt SYS_WIN TAB &kp FR_W        &kp FR_X        &kp FR_C        &kp FR_V       &kp FR_B               &kp FR_N     &kp FR_COMMA   &kp FR_SEMI     &kp FR_COLON    &kp FR_EXCL     &lt BLE FR_SQT
                                                &lt SYS_WIN LC(FR_C) &lt NAV TAB &lt SYM SPACE        &lt SYM RET  &lt NAV BSPC   &lt SYS_WIN DEL
            >;
        };

        mac_layer {
            display-name = "Mac";
            bindings = <
&kp FR_A        &kp FR_Z        &kp FR_E        &kp FR_R        &kp FR_T                                           &kp FR_Y       &kp FR_U        &kp FR_I        &kp FR_O        &kp FR_P
&hm LCTRL FR_Q  &hm LALT FR_S   &hm LGUI FR_D   &hm LSHFT FR_F  &kp FR_G                                           &kp FR_H       &hm RSHFT FR_J  &hm RGUI FR_K   &hm RALT FR_L   &hm RCTRL FR_M
&lt SYS_MAC TAB &kp FR_W        &kp FR_X        &kp FR_C        &kp FR_V       &kp FR_B               &kp FR_N     &kp FR_COMMA   &kp FR_SEMI     &kp FR_COLON    &kp FR_EXCL     &lt BLE FR_SQT
                                                &lt SYS_MAC LG(FR_C) &lt NAV TAB &lt SYM SPACE        &lt SYM RET  &lt NAV BSPC   &lt SYS_MAC DEL
            >;
        };

/* ------------------------------------------------------------------------------------------------
 * LAYER 2: C# SYMBOLS & CODE
 *
 * !     @     #     $     %     |     <     >     [     ]     "
 * ^     &     * |     _     |     (     )     {     }     '
 * =>    * +     -     =     |     ?     :     ;     `     ~
 * ...   ...   ...           |     ...   ...   ...
 *
 * Notes: 
 * - Optimized for C#: ( ) { } [ ] accessible without moving the right wrist.
 * - Mac users must use "Français - PC" layout in macOS settings.
 * ------------------------------------------------------------------------------------------------ */

        sym_layer {
            display-name = "Code";
            bindings = <
&kp FR_EXCL     &kp FR_AT       &kp FR_HASH     &kp FR_DLLR     &kp FR_PRCNT                           &kp FR_LT    &kp FR_GT    &kp FR_LBKT  &kp FR_RBKT  &kp FR_DQT
&kp FR_CARET    &kp FR_AMPS     &kp FR_ASTRK    &kp FR_PIPE     &kp FR_UNDER                           &kp FR_LPAR  &kp FR_RPAR  &kp FR_LBRC  &kp FR_RBRC  &kp FR_SQT
&m_lambda_win   &kp FR_ASTRK    &kp FR_PLUS     &kp FR_MINUS    &kp FR_EQUAL  &kp FR_BSLH  &kp FR_QMARK &kp FR_COLON &kp FR_SEMI  &kp FR_GRAVE &kp FR_TILDE &m_ser
                                                &m_log          &trans        &trans       &trans       &trans       &trans
            >;
        };

/* ------------------------------------------------------------------------------------------------
 * LAYER 3: NAVIGATION & DEBUG
 *
 * F1    F2    F3    F4    F5    |     Home  PgDn  PgUp  End   PrtSc
 * F6    F7    F8    F9    F10   |     Left  Down  Up    Right Ins
 * F11   F12               |     Game              ...
 * ...   ...   ...           |     ...   ...   ...
 * ------------------------------------------------------------------------------------------------ */

        num_layer {
            display-name = "Nav";
            bindings = <
&trans  &kp FR_N7 &kp FR_N8 &kp FR_N9 &kp KP_MULTIPLY                                   &kp HOME  &kp PG_DN  &kp UP     &kp PG_UP  &kp PSCRN
&trans  &kp FR_N4 &kp FR_N5 &kp FR_N6 &kp KP_PLUS                                       &kp END   &kp LEFT   &kp DOWN   &kp RIGHT  &kp INS
&trans  &trans    &kp FR_N1 &kp FR_N2 &kp FR_N3       &kp KP_MINUS            &trans    &trans    &trans     &trans     &trans     &trans
                                      &kp FR_N0       &trans        &trans    &trans    &trans    &trans
            >;
        };

/* ------------------------------------------------------------------------------------------------
 * LAYER 4 & 5: SYSTEM & BLUETOOTH
 *
 * RST           OutTog BTClr      |                 F7    F8    F9    F12
 * Boot  BtNxt          BtSel1     |     Slck        F4    F5    F6    F11
 * BtPrv         BtSel2      |     Pause       F1    F2    F3    F10
 * ...   ...   ...           |     ...   ...   ...
 * ------------------------------------------------------------------------------------------------ */

        sys_win_layer {
            display-name = "SysWin";
            bindings = <
&trans  &kp F1  &kp F2  &kp F3   &kp F4                            &kp F2        &kp LS(F12)         &kp LC(F12)         &kp LC(FR_DOT) &kp LC(LS(FR_R))
&trans  &kp F5  &kp F6  &kp F7   &kp F8                            &kp F12       &kp LEFT_SHIFT      &kp LCTRL           &kp LALT       &kp LGUI
&trans  &trans  &kp F9  &kp F10  &kp F11  &kp F12     &kp LC(FR_SLASH) &kp LA(LEFT_ARROW)  &kp LA(RIGHT_ARROW) &trans         &trans         &trans
                                 &trans   &trans      &trans       &trans        &trans              &trans
            >;
        };

        sys_mac_layer {
            display-name = "SysMac";
            bindings = <
&trans  &kp F1  &kp F2  &kp F3   &kp F4                            &kp F2        &kp LS(F12)         &kp LG(F12)         &kp LG(FR_DOT) &kp LG(LS(FR_R))
&trans  &kp F5  &kp F6  &kp F7   &kp F8                            &kp F12       &kp LEFT_SHIFT      &kp LGUI            &kp LALT       &kp LCTRL
&trans  &trans  &kp F9  &kp F10  &kp F11  &kp F12     &kp LG(FR_SLASH) &kp LG(FR_LBKT)     &kp LG(FR_RBKT)     &trans         &trans         &trans
                                 &trans   &trans      &trans       &trans        &trans              &trans
            >;
        };

/* ------------------------------------------------------------------------------------------------
 * LAYER 6: GAME (UNITY / FPS)
 *
 * A     Z     E     R     T     |     Y     U     I     O     P
 * Q     S     D     F     G     |     H     J     K     L     M
 * W     X     C     V     B     |     N     ,     ;     :     !
 * Ctrl  Space Shift         |     ...   ...   ...
 * ------------------------------------------------------------------------------------------------ */

        game_layer {
            display-name = "Game";
            bindings = <
&kp FR_A  &kp FR_Z  &kp FR_E  &kp FR_R       &kp FR_T                                     &kp FR_Y  &kp FR_U  &kp FR_I      &kp FR_O      &kp FR_P
&kp FR_Q  &kp FR_S  &kp FR_D  &kp FR_F       &kp FR_G                                     &kp FR_H  &kp FR_J  &kp FR_K      &kp FR_L      &kp FR_M
&to BASE  &kp FR_W  &kp FR_X  &kp FR_C       &kp FR_V       &kp FR_B             &kp FR_N &kp FR_COMMA &kp FR_SEMI &kp FR_COLON  &kp FR_EXCL   &trans
                                             &kp LCTRL      &kp SPACE  &kp LSHFT &trans   &trans    &trans
            >;
        };

        ble_layer {
            bindings = <
&to BASE &to MAC &trans &trans       &bt BT_SEL 0                              &bt BT_NXT      &trans      &trans       &trans  &trans
&trans   &trans  &trans &trans       &bt BT_SEL 1                              &bt BT_PRV      &trans      &trans       &trans  &trans
&trans   &trans  &trans &trans       &trans        &bt BT_SEL 2    &bt BT_CLR  &trans          &trans      &trans       &trans  &trans
                                     &bootloader   &sys_reset      &studio_unlock &studio_unlock &sys_reset  &bootloader
            >;
        };
    };
};